

<!DOCTYPE	html	PUBLIC	"-//W3C//DTD	HTML	4.01	Transitional//EN"	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta	http-equiv="Content-Type"	content="text/html;	charset=UTF-8">
<meta	name="keywords"	content="表单名称">
<meta	name="description"	content="">
<!--	<meta	http-equiv="Content-Security-Policy"	content="upgrade-insecure-requests">	这个有点坑了	-->
<title>formview 5</title>
<!--		<script	src="https://unpkg.com/react@15.x/dist/react.js	"></script>
			<script	src="https://unpkg.com/react-dom@15.x/dist/react-dom.js"></script>
			<script	src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>	
			<script	src="https://unpkg.com/moment/min/moment-with-locales.js"></script>	-->
	
	<script	src="/static/AntFormDesign/AntDesign/js/react.js	"></script>
	<script	src="/static/AntFormDesign/AntDesign/js/react-dom.js"></script>
	<script	src="/static/AntFormDesign/AntDesign/js/babel.min.js"></script>	
	<script	src="/static/AntFormDesign/AntDesign/js/moment-with-locales.js"></script>
	<!--	AntDesign 	-->
<!-- <script src="https://cdn.bootcss.com/antd/3.5.2/antd.js"></script>
	<link href="https://cdn.bootcss.com/antd/3.5.2/antd.css" rel="stylesheet"/> -->
	<script	src="/static/AntFormDesign/AntDesign/js/antd.js"></script>
	<link href="/static/AntFormDesign/AntDesign/css/antd.css" rel="stylesheet"/>
	

</head>
<body	class="wallpaper">



<h2>Ant	Design	-	一个	UI	设计语言</h2>
		
<h2>Ant	Design	-	测试  Button  </h2>
	<div id="example"></div>	
		<script	type="text/babel">
		const	{	Button	}	=	antd;
		ReactDOM.render( 
			<div>
			<Button ghost={false} type="default" id="primary">htmlAnt Button</Button>
			</div>
			,document.getElementById('example')
		);
		</script>		
	
<h2>Ant	Design anthtml </h2>
	
	<h2>  BasicForm1 </h2>

	<div id="BasicForm1"></div>
	
	<script type="text/babel">
		const { Row,Col,InputNumber,Rate,Slider } = antd;

		const { DatePicker } = antd;
		const { MonthPicker, RangePicker, WeekPicker } = DatePicker;
		
		const { Checkbox,Mention,Radio,Switch,TreeSelect } = antd;
		const CheckboxGroup = Checkbox.Group;
		const RadioGroup = Radio.Group;
		
		const { TimePicker } = antd;
		const SHOW_PARENT = TreeSelect.SHOW_PARENT;
		
		const { Transfer,Upload } = antd;

		const treeData = [{
			  label: 'Node1',
			  value: '0-0',
			  key: '0-0',
			  children: [{
				label: 'Child Node1',
				value: '0-0-0',
				key: '0-0-0',
			  }],
			}, {
			  label: 'Node2',
			  value: '0-1',
			  key: '0-1',
			  children: [{
				label: 'Child Node3',
				value: '0-1-0',
				key: '0-1-0',
			  }, {
				label: 'Child Node4',
				value: '0-1-1',
				key: '0-1-1',
			  }, {
				label: 'Child Node5',
				value: '0-1-2',
				key: '0-1-2',
			  }],
			}];
			
			const mockData = [{key:'0',title:'content0',description:'description of content0',disabled:false},
							{key:'1',title:'content1',description:'description of content1',disabled:true},
							{key:'2',title:'content2',description:'description of content2',disabled:false},
							{key:'3',title:'content3',description:'description of content3',disabled:true},
							{key:'4',title:'content4',description:'description of content4',disabled:false},
							{key:'5',title:'content5',description:'description of content5',disabled:false},
							{key:'6',title:'content6',description:'description of content6',disabled:true},
							{key:'7',title:'content7',description:'description of content7',disabled:false},
							{key:'8',title:'content8',description:'description of content8',disabled:false},
							{key:'9',title:'content9',description:'description of content9',disabled:false}];
							
			//const targetKeys = ['0','2','4']	
			const targetKeys = []			



		{{{str2html .antHtml}}}
	</script>


<!-- color:blue;text-align:center -->
<h2>.antHtmlStr</h2>
<textarea style="width: 1000px;height: 600px;margin-left:181px"> 
	{{{ .antHtmlStr}}}
</textarea>
<br />
	<!-- {{{htmlquote .antHtmlStr}}}  返回来的有引号包裹-->
<h2>html2str .antHtmlStr</h2>
<textarea style="width: 1000px;height: 200px;margin-left:181px"> 
	{{{html2str .antHtmlStr}}}
</textarea>
<br />

<br	/>
datFormData	:
<br	/>
{{{.datFormData}}}	
<br	/>
<br	/>
formData	:  (显示的是Json 但传到JS中需要转化为interface{})
<br	/>
{{{.formData}}}	
<br	/>
<br	/>
<br	/>
datParameterData	:
<br	/>
<textarea style="width: 1000px;height: 150px;margin-left:181px"> 
	{{{.datParameterData}}}
</textarea>
<br	/>
<br	/>
parameterData	:
<textarea style="width: 1000px;height: 150px;margin-left:181px"> 
{{{.parameterData}}}
</textarea>

</body>
</html>
